<ion-view view-title="My Tasks">
  <ion-content class="tasks-page">
    <ion-spinner ng-if="loading"></ion-spinner>
    <div class="error" ng-if="error">
      {{error}}
    </div>
    <ion-list class="list-inset" ng-if="!loading">
      <div ng-repeat="(projectName, projectTasks) in projects">
        <h4 class="project-name">{{projectName}}</h4>
        <div class="card" ng-repeat="myTask in projectTasks.tasks">
          <a ng-href="#/app/myTasks/{{myTask.id}}" class="outer-link">
            <div class="row">
              <div class="col-20">
                <div class="percent-complete {{myTask.color}}">
                  <div class="complete" ng-style="{{myTask.style}}"></div>
                  <div class="text">{{myTask.percent_compete}}%</div>
                </div>
              </div>
              <div class="col">
                <div class="group-name">
                  {{myTask.group_name}}
                </div>
                <div class="task-name">
                  {{myTask.task_name}}
                </div>
                <due-in my-task="myTask"></due-in>
              </div>
            </div>
          </a>
        </div>
      </div> <!-- end repeat of projects -->
    </ion-list>
  </ion-content>
</ion-view>
